<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to <a [routerLink]="'/'">{{ title }}</a>!
  </h1>
</div>
<h2 style="text-align: center">Here are some links to help you start: </h2>
<ul style="text-align: center">
  <li>
    <h2><a [routerLink]="'/film'" rel="noopener">Films</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="'/hero'" rel="noopener">People</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="'/planet'" rel="noopener">Planets</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="'/starship'" rel="noopener">Starships</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="'/specie'" rel="noopener">Species</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="'/vehicle'" rel="noopener">Vehicles</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>