/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.a-form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

mat-card {
    &.a-card {
        margin: 12px;

        &.a-card-tile {
            max-width: 400px;
        }

        .a-card-header {
            .mat-card-header-text {
                width: 100%;
            }
        }
    }
}

mat-form-field {
    &.a-search {
        width: 100%;
    }
}

.a-sidenav-container {
    mat-sidenav {
        min-width: 160px;
    }
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
    background: #000;
    opacity: 0.75 !important;
}