<p style="text-align: center">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/220px-Star_Wars_Logo.svg.png">
</p>
<mat-card class="a-card">
  <mat-card-header class="a-card-header">
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>
      <h1 style="text-align: center">A Star Wars Demo App</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2 style="text-align: center">based on Angular 8+, Angular Material and Redux</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h3>What's included:</h3>
    <ul>
      <li>Angular 8+ & Typescript</li>
      <li>Angular Material & SCSS</li>
      <li>Responsive layout</li>
      <li>NgRx (Store, State, Action, Reducer, Effect, Entity Adapter)</li>
      <li>CI/CD (CircleCI pipeline, Docker build, Test, SSH Deployment)</li>
      <li>Nginx</li>
      <li>Vultr Ubuntu VPS, Heroku cloud containers</li>
    </ul>
  </mat-card-content>
  <!-- <mat-card-actions>
      <button mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions> -->
</mat-card>